.mobile {
    background-color: $accent-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 20vh;
    .mobile__img {
        width: 25%;
    }
    .mobile__hamburger {
        height: 40px;
        width: 40px;
        background-color: blue;
    }
}

.start {
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $heading-color;
    &__title {
        margin-bottom: 10px;
        font-size: 1.7em;
        font-weight: 400;
        text-align: center;
    }
    &__subtitle {
        margin-bottom: 10px;
        font-size: 1.7em;
        font-weight: 400;
        text-align: center;
    }
    &__img {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .start__btns {
        display: flex;
        button {
            margin-right: 5px;
            margin-left: 5px;
            border-style: none;
            background-color: white;
            border: 1px solid $border-color;
            padding: 10px 30px;
            text-transform: uppercase;
            line-height: 1.5em;
            color: $button-text;
        }
    }
}

.stats {
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $accent-color;
    color: $heading-color;
    &__first__counter {
        margin-bottom: 10%;
        h3 {
            font-size: 40px;
            font-weight: 400;
            margin-bottom: 5%;
        }
        p:nth-child(2) {
            margin-bottom: 5%;
            text-transform: uppercase;
            font-weight: 500;
        }
        p:nth-child(3){
            width: 90%;
            margin: 0 auto;
            font-size: 15px;
        }
    }
    &__second__counter {
        margin-bottom: 10%;
        h3 {
            font-size: 40px;
            font-weight: 400;
            margin-bottom: 5%;
        }
        p:nth-child(2) {
            margin-bottom: 5%;
            text-transform: uppercase;
            font-weight: 500;
        }
        p:nth-child(3){
            width: 90%;
            margin: 0 auto;
            font-size: 15px;
        }
    }
    &__third__counter {
        h3 {
            font-size: 40px;
            font-weight: 400;
            margin-bottom: 5%;
        }
        p:nth-child(2) {
            margin-bottom: 5%;
            text-transform: uppercase;
            font-weight: 500;
        }
        p:nth-child(3){
            width: 90%;
            margin: 0 auto;
            font-size: 15px;
        }
    }
}

.steps {
    padding-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__title {
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
        margin-bottom: 5%;
    }
    &__img {
        width: 70%;
        margin: 0 auto;
    }
    .steps__DIY {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 15%;
        padding-bottom: 15%;
        margin-top: 15%;
        // margin-bottom: 15%;
        background-color: $grey-background;
        color: $heading-color;
        img {
            width: 40%;
            margin-bottom: 5%;
        }
        p:nth-child(2){
            font-weight: 500;
            margin-bottom: 5%;
        }
        span {
            height: 1px;
            width: 40%;
            display: block;
            margin: 0 auto;
            margin-bottom: 5%;
            background-color: black;
        }
        p:nth-child(4){
            font-weight: 400;
            margin-bottom: 15%;
        }
    }
    &__btn {
        margin: 15% auto;
        width: 50%;
        padding: 10px 30px;
        border-style: none;
        border: 1px solid $border-color;
        background-color: white;
        line-height: 1.5em;
        text-transform: uppercase;
        color: $button-text;
    }
}

.about {
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: $grey-background;
    text-align: center;
    &__description {
        &__title {
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 5%;
        }
        &__img {
            width: 60%;
        }
        &__paragraph {
            width: 90%;
            margin: 5% auto;
        }
        &__signature {
            width: 40%;
        }
    }
}

.help {
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
    &__title {
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 5%;  
    }
    &__img {
        width: 60%;
        margin-bottom: 5%;
    }
    &__btns {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        button {
            width: 60%;
            padding: 10px 30px;
            margin: 0 auto;
            border-style: none;
            border: 1px solid $border-color;
            background-color: white;
            line-height: 1.5em;
            text-transform: uppercase;
            color: $button-text;
        }
    }
    &__paragraph {
        width: 90%;
        margin: 5% auto;
    }
}

.contact {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
    &__title {
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 5%;  
      }
    &__img {
        width: 60%;
        margin-bottom: 5%;
    }
    .form-name {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 5%;
        .form-control {
            margin-top: 5%;
            border-style: none;
            border-bottom: 1px solid $heading-color;
            padding-bottom: 3px;
        }
    }
    .form-email {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 5%;
        .form-control {
            margin-top: 5%;
            border-style: none;
            border-bottom: 1px solid $heading-color;
            padding-bottom: 3px;
        }
    }
    .form-message {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .form-control {
            margin-top: 5%;
            border-style: none;
            border-bottom: 1px solid $heading-color;
            padding-bottom: 3px;
        }
    }
    button {
        margin-top: 5%;
        width: 50%;
        padding: 10px 30px;
        border-style: none;
        border: 1px solid $border-color;
        background-color: white;
        line-height: 1.5em;
        text-transform: uppercase;
        color: $button-text;
    }
}